<div class="indexImgContainer">
    <img class="indexImg" src="~/Content/Images/find-the-movie.png" height="300" width="600" />
</div>
<img class="d-none d-md-inline-block" src="~/Content/Images/projector.png" height="200"  />

<div class="indexImgContainer mt-5">
    <img class="indexImg" src="~/Content/Images/opinions.png" height="300" width="600" />
</div>
